.title{
    font-size: 24px;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 25px;
    width: 370px;
    gap: 10px;
}

.text__buttons{
    display: flex;
    justify-content: space-between;
}